.red{
  background: tomato;
}
.orange{
  background: #FFCE47;
}
.green{
  background: lawngreen;
}
.grey{
  background: #A1A1A1;
}

h3{
  text-align: left !important;
  font-size: 12pt !important;
}

/*PRIORITY*/
.priorities{
  display: flex;
  justify-content: space-around;
  margin-bottom: 43px;
  padding-top: 5px;
}
.priorities div{
  width: 35px;
  height:35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
}
.priorities span{
  color: white;
}

.create-project-date{
  display: flex;
  justify-content: space-between;
}

.create-project-date>div{
  width: 45%;
}

.organisation{
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.organisation a{
  background: #E6E6E6;
  width: 30px;
  height: 15px;
  text-align: center;
  padding: 5px 15px;
}
