@import url('https://rsms.me/inter/inter-ui.css');

body{
  font-family: 'Inter UI', sans-serif;
  padding: 2% 15%;
  background: #ECECEC;
  margin: 0;
}

h1{
  font-size: 20pt;
}

h2{
  color: #444;
}


form{
  margin: 0 auto;
  max-width: 660px;
}

.form{
  background: white;
  border-radius: 10px;
  margin: 0 auto;
}

fieldset{
  border: none;
  padding: 0;
}

label{
  display: block;
  margin-bottom: 10px;
  font-weight: 500;
  color: #A1A1A1;
  font-size: 11pt;
}

input, select{
  width: 100%;
}

input[type='email'] {
  background-image: url(email.png);
  background-position: 7px 7px;
  background-repeat: no-repeat;
  text-indent: 32px;
}

input[type='tel'] {
  background-image: url(tel.png);
  background-position: 7px 5px;
  background-repeat: no-repeat;
  text-indent: 32px;
}

abbr{
  color: #A1A1A1;
  text-decoration: none;
  padding-left: 3px;
}

a{
  color: #007EFF;
  text-decoration: none;
  opacity: 1;
  transition: all 0.2s ease;
}

a:hover{
  opacity: 0.8
}

button{
  font-family: 'Inter UI', sans-serif;
  color: white;
  background: #FB8404;
  border: none;
  padding: 13px 33px;
  border-radius: 5px;
  font-size: 12pt;
  transition: all 0.5s ease;
  cursor: pointer;
}

button:hover{
  background:#FF6F00;
}

fieldset div {
  width: 100%;
}

.header{
  background: #FB8404;
  padding: 4%;
  text-align: center;
}

.header h1{
  color: white;
  font-weight: 500;
  font-size: 16pt;
  margin: 0;
}

.logo{
  width: 151px;
  height: 36px;
}

.person-to-update{
  display: flex;
  align-items: center;
  margin-left: 0px;
  justify-content: center;
  margin-bottom: 6px;
}

.person-to-update img{
  width: 50px;
  height: 50px;
  padding-right: 20px;
}

.form-content{
  padding: 5% 10%;
  background: white;
}



.wrap {
  margin-bottom: 49px;
}

.line-left{
  background: #007EFF;
  height:2px;
  margin-bottom: 39px;
  margin-top: -2px;
}

.line-left {
  width: 0;
  transition: width .5s ease;
}

select:focus + .line-left, input:focus + .line-left{
  width: 100%;
  transition: width .5s ease;
}

.shrinkM-underline{
  margin-bottom: 10px !important;
}

input, select{
  border: none;
  font-family: 'Inter UI', sans-serif;
  font-size: 12pt;
  color: #131313 !important;
  border-bottom: 1px solid #A1A1A1;
  background: transparent;
}

input:focus, select:focus{
  outline: none;
  border-bottom: 1px solid #007eff;
   transition-delay: 0.5s;
}

select option {
  border: none;
  outline: none;
}

.input-button{
  color: #007EFF !important;
  text-decoration: none;
  opacity: 1;
  transition: all 0.2s ease;
  background-color: transparent;
  border-bottom: none;
  text-align: left;
  cursor: pointer;
  padding-bottom: 49px;
}

.input-button:hover{
  opacity: 0.8;
}

.input-button:focus, .input-button:active{
  border-bottom: none;
}

.flex-fields{
  display: flex;
  flex-wrap: wrap;
}

.first-div{
  width: 100%;
}

.double-short-input{
  display: flex;
}



.double-long{
  margin-right: 14px;
}

.double-long input{
  width: 100%;
}

.double-short input{
  width: 100%;
}


@media (max-width: 1100px){
  body{
    padding:2% 5%;
  }

  .first-div{
    margin-right: 0px;
  }

  .job-info, .short-input, .short-input input, select{
    width: 100%;
  }
}
