@import url('https://rsms.me/inter/inter-ui.css');

body{
  font-family: 'Inter UI', sans-serif;
  padding: 2% 15%;
  background: #ECECEC;
  margin: 0;
}

h1{
  font-size: 20pt;
  color: #95989A;
}

form{
  margin: 0 auto;
  max-width: 1200px;
}

.form{
  background: white;
  border-radius: 10px;
  margin: 0 auto;
}

fieldset{
  border: none;
  padding: 0;
}

label{
  display: block;
  margin-bottom: 10px;
  font-weight: 500;
  color: #A1A1A1;
  font-size: 11pt;
}

abbr{
  color: #A1A1A1;
  text-decoration: none;
  padding-left: 3px;
}

a{
  color: #007EFF;
  text-decoration: none;
  opacity: 1;
  transition: all 0.2s ease;
}

a:hover{
  opacity: 0.8
}

button{
  font-family: 'Inter UI', sans-serif;
  color: white;
  background: #FB8404;
  border: none;
  padding: 13px 33px;
  border-radius: 5px;
  font-size: 12pt;
  transition: all 0.5s ease;
  cursor: pointer;
}

button:hover{
  background:#FF6F00;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FB8404;
  padding: 1% 10%;
}

.header h1{
  color: white;
}

.header img{
  width: 151px;
  height: 36px;
}

.form-content{
  padding: 5% 10%;
  background: white;
}

.long-input input, select {
  width: 100%;
}

.short-input input, select {
  width: 227px;
}



.wrap {
  margin-bottom: 49px;
}

.line-left{
  background: #007EFF;
  height:1px;
  margin-bottom: 49px;
}

.line-left {
  width: 0;
  transition: width .5s ease;
}

input:focus + .line-left{
  width: 100%;
  transition: width .5s ease;
}

input, select{
  border: none;
  font-family: 'Inter UI', sans-serif;
  font-size: 12pt;
  color: #131313 !important;
  border-bottom: 1px solid #A1A1A1;
  background: transparent;

}

input:focus, select:focus{
  outline: none;
}

.input-button{
  color: #007EFF !important;
  text-decoration: none;
  opacity: 1;
  transition: all 0.2s ease;
  background-color: transparent;
  border-bottom: none;
  text-align: left;
  cursor: pointer;
}

.input-button:hover{
  opacity: 0.8;
}

.input-button:focus, .input-button:active{
  border-bottom: none;
}

.flex-fields{
  display: flex;
  justify-content: space-between;
}

.first-div{
  margin-right:66px;
  width: 100%;
}

.double-short-input{
  display: flex;
}

.double-short-input input:first-child{
  display: inline;
  width: 156px;
  margin-right: 12px;
}

.double-short-input input:last-child{
  width: 60px;
}

.double-long input{
  width: 120px !important;
  margin-right: 14px;
}

.double-short input{
  width: 95px !important;
}
