html, body,  span, h1, h2, h3, h4, h5, h6, p, ol, ul, li,table, form, label, legend, caption, aside, details, figcaption, figure, footer,header, menu, nav, section, summary {
	font-family: Arial, Helvetica, sans-serif;
}

ol, ul {
	list-style: none;
}



a img {
   border: none ;
}

/*html5 sections*/aside, details, figcaption, figure, footer, header, menu, nav, section {display: block}

/***************************************************
			     TOP HEADER
***************************************************/

.topheader {
	height:20px;
	font-size:11px;
    width: auto;
    /*background-color:#f7f7f7;*/
	padding: 2px 22px 2px 5px;
}

.topheader a:link {
	height:20px;
	font-size:11px;
	color:#2f2f2f;
	text-decoration:none;
}

.topheader a:visited {
	height:20px;
	font-size:11px;
	color:#2f2f2f;
	text-decoration:none;
}

.topheader a:hover {
	height:20px;
	font-size:11px;
	color:#d47200;
	text-decoration:none;
}

/***************************************************
			   LOGO / SEARCH / DATE / ALERT 
***************************************************/

select.searchdd {
	background-color:#f7f7f7;
	border: 1px solid #e2e2e2;
	height:20px;
	border-radius:2px;
	moz-border-radius:2px;
	color:#848484;
    
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    /*padding: 0 5px 15px 0;*/
}

.date {
	font-size:13px;
	color:#909090;
    font-family: Arial, Helvetica, Geneva, sans-serif;
    color: white;
    padding: 0 5px;
}

.alert {
	/*padding: 10px 6px 5px 3px;*/
    FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif;
    
}

.alert a:link {
    background: #ffc000;
    color: #fff;
    display: block;
    font-size: 8pt;
    font-weight: bold;
    height: 26px;
    line-height: 26px;
    margin: 0;
    padding: 0 10px;
    text-decoration: none;
}

	.alert img {
		position: relative;
		top: 3px;
	}


.trial-days-remain {
	padding-right: 2px;
	font-weight: bold;
}

/***************************************************
			      NAVIGATION
***************************************************/

.navigation {
	background:url(../images_newui/nav-bg-selected.png);
	background-color:#484848;
	color:#fff;
	height:35px;
	border-bottom:1px solid #383838;
}

.navitem a:link {
	text-transform:uppercase;
	text-decoration:none;
	padding:5px;
	color:#ffffff;
}

.navitem a:visited {
	text-transform:uppercase;
	text-decoration:none;
	padding:5px;
	color:#ffffff;
}

.navigation a:visited {
	text-transform:uppercase;
	text-decoration:none;
	padding:5px;
}

.navigation a:hover {
	background-color:#f88500;
	padding:5px;
	color:#393935;
	border-radius:2px;
	moz-border-radius:2px;
}

.navitem {
	background:url(../images_newui/nav-bg-selected.png);
	font-size:12px;
	font-weight:normal;
	text-transform:uppercase;
	background-color:#484848;
	padding:5px;
	color:#ffffff;
}

#selected {
	background-color:#e9e9e9;
	padding:5px;
	color:#4a4a4a;
	border-left: 1px solid #d9d9d9;
	border-right: 1px solid #d9d9d9;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	height:100%;
}

.navbottom {
	background-color:#ffffff;
	height:2px;
	margin:0;
}

.print {
	/*background:url(../images_newui/nav-bg-selected.png);*/
	background-color:#484848;
	border-bottom:5px solid #e9e9e9;
}

.print a:link {
	background:none;
	text-decoration:none;
}
	

.printtext {
	color:#fff;
	font-size:11px;
	padding: 5px 10px 10px 0;
}

/***************************************************
			    LEFT COLUMN
***************************************************/

.bookmarkheader {
	border-bottom: 2px dotted #F30;
	height:40px;
}

.bookmark a:link {
	font-weight:bold;
	color:#f88500;
	font-size:14px;
	padding-left:10px;
	text-decoration:none;
}
.bookmark a:visited {
	font-weight:bold;
	color:#f88500;
	padding-left:10px;
	text-decoration:none;
	font-size:14px;
}

.addnew {
	font-size:11px;
	font-weight:normal;
	color:#f88500;
}

.fcquote {
	font-family: Arial;
	font-style:italic;
	font-size:12px;
	padding:5px;
	color:#919191;
	padding-left:15px;
}

.minicaltodaytxt {
	width: 100%;
}

/*.minicaltodaytxt a:link {
	color:#e57b00;
	text-decoration:none;
	border-radius:2px;
	moz-border-radius:2px;
}*/

/*.current-week {
	background:#fff !important;
}*/

.minicaltoday a {
    background-color: #cc0000;
    border-radius: 9px;
    color: white;
    font-size: 8pt;
	text-decoration:none;
	padding: 1px 3px;
	text-align: center;
}

.minicalmonthday , .minicalmonthdayunselect a {
	font-size: 11px;
	color: #555;
	padding: 1px 3px;
	font-weight: bold;
	text-decoration: none;
}

.minicalmonthdayunselect a {
	color: #888;
	font-weight: normal;
	display: block;
}

	.redux-mini-calendar .minicalmonthday, .redux-mini-calendar .minicalmonthdayunselect {
		font-weight: normal;
	}

	.redux-mini-calendar .minicalmonthday:hover a,
	.minicalmonthday.hover-is-on a {
		background: #7d7d7d;
		border-radius: 9px;
		color: white !important;
		font-size: 8pt;
	}

.minicalmonthday.h a {
    background-color: #7d7d7d;
    border-radius: 9px;
    color: white;
    font-size: 8pt;
}
#fcTaskOps .minicalmonthday, #fcTaskOps .minicalmonthdayunselect {
	padding: 1px 2px;
}

.minicalselected a {
    background-color: #787878;
    border-radius: 9px;
    color: white;
    padding: 0 3px;
    font-size: 8pt;
    text-align: center;
	text-decoration:none;
}

.minicalmonthday a {
	font-size:11px;
	color:#555;
	font-weight: bold;
	display: block;
	text-decoration:none;
}

	.redux-mini-calendar .minicalmonthday a{
		font-weight: normal;
	}

.minicalmonthday.current-week a {
	color: #222;
}

.minicalmonthday.h a, .minicalmonthday.h .current-week a, .minicalmonthdayunselect.h a {
	color: #fff !important;
}

.minicalmonthdayunselect.h a {
	color: #fff !important;
	font-weight: bold !important;
	background: #7d7d7d;
	padding: 3px 2px;
	border-radius: 9px;
}


.masterdailylinks {
	
}

.calendarDayNav {
    
}

	.calendarDayNav:hover {
	
	}

	.calendarDayNav.active {
	
	}

.calheader {
	background-color:#eaeaea;
	font-size:12px;
}

.caldate {
	background-color:#eaeaea;
}

.calsection {
	background-color:#fff;
	border: 1px solid #eaeaea;
	height:380px;
}

.calfilter {
	background-color:#eaeaea;
	float:left;
	color:#444;
	text-transform:uppercase;
	font-size:11px;
}

select.filterdd {
	background-color:#f7f7f7;
	border: 1px solid #e2e2e2;
	height:20px;
	color:#848484;
	padding: 0 5px 15px 0;
}

/***************************************************
			     NOTES
***************************************************/

.notessection {
	background-color:#fff;
	border: 1px solid #eaeaea;
	height:25px;
}

.noteline {
	border-top: 1px solid #eaeaea;
	background-color:#fff;
}

.notesheader a:link {
	color:#484848;
	font-weight:bold;
	text-decoration:none;
}

.notesheader a:hover {
	color:#e57b00;
}

.notesheader1 a:link {
    padding: 6px 6px 6px 6px;
    FONT-SIZE: 9pt;
    color:#e57b00;
	font-weight:normal;
	text-decoration:none;
    TEXT-ALIGN: right;
    VERTICAL-ALIGN: bottom;
    
}

.notesheader1 a:hover {
	color:#e57b00;
    FONT-WEIGHT: bold;
}

.bookmarkheader   {
    padding: 6px 6px 6px 6px;
    COLOR: #FF9B00;
    FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif;
    FONT-SIZE: 9pt;
    FONT-WEIGHT: bold;
    TEXT-ALIGN: left;
    VERTICAL-ALIGN: bottom;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #9F9F9F;
    border-top-width: 1px;
    border-top-color: #FCFCEC;
    CURSOR: hand; }

.bookmarkheader1   {
    padding: 6px 6px 4px 6px;
    COLOR: #FF9B00;
    FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif;
    FONT-SIZE: 9pt;
    FONT-WEIGHT: bold;
    TEXT-ALIGN: left;
    VERTICAL-ALIGN: bottom;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-top-width: 1px;
    border-top-color: #FCFCEC;
    }

/*******Task Selected*******/

.taskselected {
	width:200px;
	height:25px;
	background-color:#00a1ec;
	color:#fff;
	border-radius:2px;
	moz-border-radius:2px;
	margin: 0 5px;
	padding:5px;
}

.styledM-select {

   position:inherit;
   width: 145px;
   height: 18px;

	-moz-appearance: none;
	-moz-user-select: none;
}

.new-alert-container {
	display: inline-block;
	font-size: 9pt;
	font-family: Arial;
	background: #cc0000;
	color: white;
	height: 44px;
	line-height: 44px;
	margin-right: 15px;
	padding: 0 10px;
}

	.new-alert-container.warn {
		background: #f9edbe;
		color: #f0c36d;
	}

	.new-alert-container a {
		text-decoration: none;
		font-weight: bold;
		color: white;
		text-transform: capitalize;
	}

.dk-bg { background: #888888; }
.light-bg { background: #f5f5f5; border-bottom: 1px solid #eee; }

.top-search {
	width: 450px;
	margin:0;
	padding: 22px 0 0;
}

.top-search.tab-t5 {
	padding-top: 0;
	margin-top: -15px;
}

	.top-search .search-box {
		margin:0;
		padding:0;
		width: 248px;
	}

	.top-search .search-box input {
	    background-color: #f7f7f7;
	    border: 1px solid #ddd;
	    border-radius: 0;
	    color: #888;
	    display: block;
	    font-size: 10pt;
	    padding: 7px 10px;
	    width: 248px;
	}

		.top-search .search-box input:focus {
			color: #333;
			background: white;
			border-color: #aaa;
		}

	.top-search .category {
		margin:0;
		padding:0;
		width: 130px;
		overflow: hidden;
	}

	.top-search .category select {
	    background: #fff url("/images_newui/top-search-arrow-down.png") no-repeat scroll 100px center;
	    border-color: #ddd;
	    border-radius: 0;
	    border-style: solid none;
	    border-width: 1px 0;
	    display: block;
	    font-size: 9pt;
	    outline: medium none;
	    padding: 7px 10px 6px;
	    width: 145px;
	    -webkit-appearance: none;
	    height: 32px;
	}

	.top-search .submit {
		margin:0;
		padding:0;
		width: 36px;
	}

	input.searchbutton {
	    background: #fb8404 url(/images_newui/search-icon.png) center no-repeat;
	    border: 0 none;
	    border-radius: 0;
	    cursor: pointer;
	    height: 32px;
	    width: 36px;
	    display: block;
	}

	input.searchbutton:hover, input.searchbutton:active, input.searchbutton:focus {
		background-color: #e77800;
	}

.calendarOps {
	/*float: right;
	height: 30px;
	line-height: 30px;
	font-size: 9pt;
	padding: 0 15px;
	background-color: #888;
	color: white;
	text-decoration: none;
	cursor: pointer;*/
}
	
	.calendarOps.print {
		/*background-image: url(/images_newui/calendar-ops-print.png);
		background-position: 10px center;
		background-repeat: no-repeat;
		padding-left: 35px;
		border-right: 1px solid #999;
		border-bottom: 0;*/
	}

	.calendarOps.calendar {
		/*background-image: url(/images_newui/calendar-ops-calendar.png);
		background-position: 5px center;
		background-repeat: no-repeat;
		padding-left: 27px;*/
	}

.dailyheader {
	background: #eee;
}

.task-ops {
	/*height: 35px;*/
	/*display: block;*/
	/*width: 24px;*/
	/*padding:0;*/
	/*margin: 0 -1px 0 0 ;*/
	/*background: #888;*/
	/*border-right: 0;*/
	/*cursor: pointer;*/
}

	a.task-ops.btn-ppol {
		padding: 0;
		width: 24px;
	}

	a.task-ops.btn-ppol.bulk-delete {
		padding: 0;
		width: 56px;
		margin: 3px 0 0 0;
	}

	.task-ops i.fa {
		position: relative;
		top: 5px;
		font-size: 10pt;
		color: #707070;
	}

	.orange.task-ops i.fa, .red.task-ops i.fa {
		color: #fff;
	}

	.task-ops:hover {
		/*background-color: #777;*/
	}

	.task-ops.prioritize {
		/*background-image: url(/images_newui/task-ops-prioritize-gray.png);
		background-position: center;
		background-repeat: no-repeat;*/
	}

	.task-ops.transfer {
		/*background-image: url(/images_newui/task-ops-transfer-gray.png);
		background-position: center;
		background-repeat: no-repeat;*/
	}

	.task-ops.refresh {
		/*background-image: url(/images_newui/task-ops-refresh-gray.png);
		background-position: center;
		background-repeat: no-repeat;*/
	}

	.task-ops.spinner {
		width: 24px;
		padding: 0;
	}

		.task-ops.spinner img {
			position: relative;
			top: 5px;
			left: -4px;
		}

	.task-ops.go {
		background-image: url(/images_newui/task-ops-go-gray.png);
		background-position: center;
		background-repeat: no-repeat;
		background-color: #444;
		border:0;
		float: right;
		opacity: 0.85;
	}

		.task-ops.go:hover {
			opacity: 1.0;
		}

	.task-ops.master-daily {
		/*width: auto;
		padding: 0 5px 0 4px;
		float: left;
		border:0;
		line-height: 36px;
		font-size: 8pt;
		text-transform: uppercase;
		background: #007eff;
		color: #fff;
		text-decoration: none;
		opacity: 0.5*/
	}
	
	.task-ops.master-daily:hover {
		opacity: 1.0
	}

	.task-ops.master-daily.on {
		opacity: 1.0;
	}

.task-category {
	width: 140px;
	position: relative;
	overflow: hidden;
	padding: 5px 0 0;
	margin: 0 0 -2px -2px;
	border-top: 1px solid #ddd;
	border-right: 1px solid #ddd;
	background: #fafafa;
}

	.task-category select {
		width: 160px;
		background: url("/images_newui/top-search-arrow-down.png") no-repeat scroll 118px center;
		border:0;
		height: 21px;
		display: block;
		font-size: 8pt;
		font-weight: bold;
		color: #222;
		padding-left: 5px;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		outline: hidden;
		outline: none;
		position: relative;
		top: -3px;
	}
	.task-category select:focus {
		outline: none;
	}

.quick-nav-jump.jump-month, .quick-nav-jump.jump-year {
	margin:0;
	padding:0;
	text-align: left;
}

	.quick-nav-jump li {}

	.quick-nav-jump li a {
		display: block;
		padding: 3px 5px;
		text-decoration: none;
		color: #666;
	}

	.quick-nav-jump li.active a {
		color: #000;
		font-weight: bold;
		background: white;
	}

	.quick-nav-jump li a:hover {
		background: white;
		color: #222;
	}


a.redux-ops {
	width: 24px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	color: #aaa;
	font-size: 12pt;
	display: block;
}

	a.redux-ops.create, a.redux-ops.cancel-create {
		margin-top: 4px;
		width:28px;
	}

	a.redux-ops.create {
		color: #fe6a4d;
	}

	a.redux-ops.cancel-create {
		color: #cc0000;
	}

	a.redux-ops i.fa {
		position: relative;
		top: 7px;
	}

	a.redux-ops.create i.fa {
		top: 5px;
	}

	a.redux-ops.cancel-create i.fa {
		top: 4px;
	}

/*Contact NEW UI*/
/*.ppolSimpleBoxTitleNoBorder_NewUI {
    font-size: 8pt;
    FONT-WEIGHT: bold;
    color:#2B2B23;
    line-height: 18pt;
    FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif;
}

.verySmall_DropDown {
    font-size: 8pt;
    text-decoration: none;
    color: #2B2B23;
    background-color:#EDEDED;
    border:#CBCBCB 1px solid ;
    FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif;
}

.textInputACSmall_NewUI  {
    background-color:#EDEDED;
    font-size: 8pt;
    text-decoration: none;
    color: #2B2B23;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    BORDER-LEFT: #CBCBCB 1px solid;
    BORDER-TOP: #CBCBCB 1px solid;
    BORDER-RIGHT: #CBCBCB 1px solid;
    BORDER-BOTTOM: #CBCBCB 1px solid;
    padding: 0px 2px 0px 2px;
}

.ppolFormPrompt_NewUI   { font-family: Arial, Helvetica, sans-serif; font-size: 8pt; color: #2B2B23; TEXT-ALIGN: right; line-height: 16pt; white-space: nowrap; }
.ppolFormInput_NewUI    { font-family: Arial, Helvetica, sans-serif; font-size: 8pt; color: #2B2B23; TEXT-ALIGN: left;  line-height: 16pt; }

.buttonNewUI{
    background: #e57b00;
    color:#ffffff;
    font-size:14px;
    padding:10px;
    border-radius:3px;
    moz-border-radius: 3px;
    cursor:default;
}

.ppolView_NewUI{
    color:#097fdb;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 10pt;
    white-space: nowrap;
}

.ppolViewDropDown_NewUI {
    padding:5px; 
    text-align: center;
    font-size:13px;
    background-color:#097fdb;
    color:#ffffff;
}


.ppolFilterDropDown_NewUI {
    padding:5px;
    text-align: center;
    font-size:13px;
    color: #2B2B23;
    background-color:#EDEDED;
    border:#CBCBCB 1px solid ;
}*/
