#videogallery {
	width:100%;
	zoom:1;
}
#videogallery span{ display:block; }
#videogallery a{
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
	/*position:static;*/
	vertical-align:top;
	margin:0px;
}
#videogallery a img{
	display:block;
	border:none;
	margin:0;
}
#videogallery a:hover{
/*	text-decoration:underline;*/
	opacity:1;
}