@import url('https://rsms.me/inter/inter-ui.css');

body{
  font-family: 'Inter UI', sans-serif;
  background: #e6e6e6;
  margin: 0;
}

h1{
  font-size: 18pt;
  text-align: center;
  color: #656565;
}

h2{
  color: #444;
  font-size: 16pt;
}

h3{
  color: #95989A;
  font-weight: 400;
  text-align: center;
  font-size: 20px;
}


form{
  padding: 6% 0 2% 0;
  margin: 0 auto;
  max-width: 660px;

}

.form{
  background: white;
  margin: 0 auto;
  -webkit-box-shadow: 10px 10px 55px -11px rgba(0,0,0,0.13);
-moz-box-shadow: 10px 10px 55px -11px rgba(0,0,0,0.13);
box-shadow: 10px 10px 55px -11px rgba(0,0,0,0.13);
text-align: center;
}

fieldset{
  border: none;
  padding: 0;
}

label{
  display: block;
  margin-bottom: 10px;
  font-weight: 500;
  color: #A1A1A1;
  font-size: 11pt;
}

input[type='email'] {
  background-image: url(Images/email.png);
  background-position: 7px 11px;
  background-repeat: no-repeat;
  text-indent: 32px;
}

input[type='tel'] {
  background-image: url(Images/tel.png);
  background-position: 7px 8px;
  background-repeat: no-repeat;
  text-indent: 32px;
}

abbr{
  color: #A1A1A1;
  text-decoration: none;
  padding-left: 3px;
}

a{
  color: #007EFF;
  text-decoration: none;
  opacity: 1;
  transition: all 0.2s ease;
}

a:hover{
  opacity: 0.8
}

button, .button{
  font-family: 'Inter UI', sans-serif;
  color: white;
  background: #FB8404;
  border: none;
  padding: 13px 33px;
  font-size: 12pt;
  transition: all 0.5s ease;
  cursor: pointer;
  margin-bottom: 5%;
}

button:hover{
  background:#FF6F00;
}

fieldset div {
  width: 100%;
}

.top-bar{
  background: #f2f2f2;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-bar img{
  width: 160px;
}

.top-bar *{
  padding: 8px 35px;
  color: #7a7a7a;
  cursor: pointer;
  text-align: right;
  font-size: 10pt;
}

.header{
  padding: 6% 3% 0%;
  border-top: 8px solid #FB8404;
}

.header h1{
  color: #575757;
  font-weight: 500;
  font-size: 18pt;
  margin: 0;
  text-align: center;
}

.logo{
  width: 151px;
  height: 36px;
}

.form-content{
  padding: 5% 10%;
  background: white;
}

.form-content p{
  font-size: 10px;
  color: #A1A1A1;
}

.left-align{
  text-align: left;
}

.wrap {
  margin-bottom: 49px;
}

.line-left{
  background: #007EFF;
  height:2px;
  margin-bottom: 39px;
}

.line-left {
  width: 0;
  transition: width .5s ease;
}

select:focus + .line-left, input:focus + .line-left, textarea:focus + .line-left{
  width: 100%;
  transition: width .5s ease;
}

/*DATEPICKER*/
.ui-datepicker{
  background: #E6E6E6;
  box-shadow: 0px 3px 10px rgba(0, 0, 47, .15);
}
.ui-datepicker-title{
    text-align: center;
    color: #575757;
    font-size: 14px;
    font-weight: 500;
}

.ui-datepicker-calendar{
  padding: 11px 10px 15px 10px;
}

.ui-datepicker-calendar th{
  color: #A1A1A1;
  font-size: 10px;
  font-weight: 400;
}

.ui-datepicker-calendar td{
  text-align: center;
}

.ui-datepicker-calendar a{
  color: #575757;
  font-size: 12px;
  padding: 1px 7px;;
}

/* .ui-datepicker-calendar a:focus, a:active{
  background: #FB8404;
  color: white;
  border-radius: 10px;
  background-image: image();
} */
.date-picker{
  text-align: center;
  color: #131313;
  font-size: 20px;
  background-image: url("Images/calendar icon plain.png");
  background-repeat: no-repeat;
  background-position: right;
}

/*TIME PICKER STYLING*/
.time-picker{
  display: flex;
  justify-content: center;
  align-items: center;
}
.time{
  font-size: 10px;
  color: #A1A1A1;
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}
.time-picker-body{
  width: 90%;
  background: #E6E6E6;
  height: 47px;
  margin: 0 auto;
  display: flex;
}
.hour{
  width: 20%;
  border-right: 1px solid white;
  height: 47px;
  display: flex;
}
.quarter-hour{
  width: 25%;
  height:47px;
  display: inline-block;
}
.arrows{
  font-size: 20pt;
  color: #A1A1A1;
  margin-top: 7px;
}
.busy{
 background-size: 6px 6px !important;
 background: linear-gradient(-45deg, transparent 46%, #95989a 49%, #e6e6e6 51%, transparent 55%);
}
.targeted{
  background: #007EFF;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  transition: 0.2s ease;
  opacity: 1;
  cursor: pointer;
}
.targeted::before{
  content: "+";
  color: white;
}
.targeted:hover{
  opacity: 0.8;
}

/*TIME ZONE AJUSTER*/
.accordion-container{
  text-align: left;
  width: 100%;
  margin-top: 50px;
}
.accordion-container-popup{
  text-align: left;
  width: 100%;
  margin-top: -30px;
  margin-bottom: 29px;
}
.accordion {
  color: #95989A;
  font-size: 10px;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.4s;
}
.panel {
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.panel span{
  color: #95989A;
  font-size: 10px;
  width: 63px;
}
.panel > div{
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}
.time-zone-callout{
  background: #E6E6E6;
  color:#95989A;
  font-size: 12px;
  padding: 3px 9px;
  width: fit-content;
}

.time-zone-callout option, select{
  color: #575757 !important;
}

/*VALIDATION ERROR STYLING*/
.v-error{
  color: tomato !important;
}

.v-error em{
  font-size: 10pt;
}

.error-line{
  transition: 0.2s ease;
  background: tomato !important;
}

.error-button{
  opacity: 0.7 !important;
  cursor: auto;
}

.error-button:hover{
  background: #FB8404 !important;
}

.v-good{
  background-image: url(Images/email.png), url(green-check.png) !important;
  background-position: 7px 11px, right !important;
}

.good-line{
  transition: 0.2s ease;
  background: mediumseagreen !important;
}

/* POPUP CONTENT */
.popup_content{
  width: 70%;
}

input, select, textarea{
  border: none;
  font-family: 'Inter UI', sans-serif;
  font-size: 12pt;
  color: #444;
  border-bottom: 1px solid #dadada;
  /* background: #f2f2f2; */
  text-indent: 5px;
  padding: 5px 0px;
  width:100%;
  outline: none;
}

/*MESSAGE CONTAINER*/
.msg-container{
  margin: 6% auto;
  max-width: 500px;
  -webkit-box-shadow: 10px 10px 55px -11px rgba(0,0,0,0.13);
    -moz-box-shadow: 10px 10px 55px -11px rgba(0,0,0,0.13);
    box-shadow: 10px 10px 55px -11px rgba(0,0,0,0.13);
}
.msg-container h1{
  color: #32CD32;
  margin-bottom: 5px;
  font-weight: 400;
}
.msg-container span{
  color: #575757;
  font-size: 13px;
}
.appointment-details{
  margin-bottom: 35px;
}
.appointment-details h3{
  color: #575757;
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 500;
}
.appointment-details span{
  background: #E6E6E6;
  font-size: 20px;
  color: #131313;
  padding: 7px 17px;
}
.bottom-message{
  text-align: center;
  color: #575757;
  font-size: 13px;
  background: #DBDBDB;
  padding: 15px 14px;
}


input:focus, select:focus, textarea:focus{
  outline: none;
  border-bottom: none;
   transition-delay: 0.5s;
}

select option {
  border: none;
  outline: none;
}

.input-button{
  color: #007EFF !important;
  text-decoration: none;
  opacity: 1;
  transition: all 0.2s ease;
  background-color: transparent;
  border-bottom: none;
  text-align: left;
  cursor: pointer;
  margin-bottom: 49px;
}

.input-button:hover{
  opacity: 0.8;
}

.input-button:focus, .input-button:active{
  border-bottom: none;
}

.flex-fields{
  display: flex;
  justify-content: space-around;
  width: 60% !important;
}

.flex-fields div:first-child{
  margin-right: 10%;
}

.time-date{
  display: flex;
  justify-content: space-between;
}

.time-date>div{
  width: 25%;
}

.time-date .date-picker{
  font-size: 12pt;
  color: #444;
  text-align: left;
}

.short{
  width: 40%;
}

.sign-up-CTA{
  text-align: center;
  margin: 2% 0 5% 0;
  font-weight: bold;
  font-size: large;
}

.sign-up-CTA a{
  cursor: pointer;
}

.success-message{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
  text-align: center;
  color: #656565;
}

.success-message img{
  margin: 0 auto;
  display: block;
}


@media (max-width: 1100px){
  form{
    padding: 5% 5%;
  }

  .first-div{
    margin-right: 0px;
  }

  .job-info, .short-input, .short-input input, select{
    width: 100%;
  }

  .short{
    width: 60%;
  }

  .sign-up-CTA{
    margin: 2% 0 6% 0;
}


@media (max-width: 700px){
  form{
    padding: 10% 5%;
  }

  .top-bar *{
    padding: 8px 18px;
  }

  .header h1{
    font-size:16pt;
  }

  .showE input {
    width: 100%;
  }

  .form-content {
    padding: 10%;
  }

  .time-date{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .time-date>div{
    width: 45%;
  }

  .time-zone-callout{
    width: 100%;
  }

  .popup_content{
    width: 100%;
  }
  .msg-container {
    max-width: 92%;
  }

  .appointment-details span{
    font-size: 14px;
    font-weight: 500;
  }

  .sign-up-CTA{
    margin: 7% 0 7% 0;
  }
  .mobile-padding-fix{
    padding: 5%;
  }
  .hide{
    display: none;
  }
}
